body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: darkslategray;
    color: white;
    min-height: auto;
}
main {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;

}

.footer1 {
    text-align: center;
    padding: 3px;
    background-color: #6e7b88;
}

.footer2 {
    text-align: center;
    padding: 3px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contract {
    font-size: 125%;
    text-align: center;
}
img {
    display: block;
    width: 50%;
    margin: 0 auto;
}
.image, h2, h1 {
    text-align: center;
    padding: 3px;
}
a:hover {
    color: gold;
}
a {
    color: white;
}
nav {
    text-align: center;
}
.home {
    text-align: center;
}
section {
    text-align: center;
    border-top: 1px solid gold;
}
section li {
    text-align: left;
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  table th {
    background-color: #333;
    color: white;
  }
  table td {
    color: black;
    text-align: center;
  }
  table tr:nth-child(even) {
    background-color: #B3BFB8;
  }
  table tr:nth-child(odd) {
    background-color: #F0F7F4;
  }
  form {
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  label {
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }

  .tagline {
    text-align: center;
  }
  
  input[type="text"], input[type="tel"], input[type="email"], select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="checkbox"], input[type="radio"] {
    margin-right: 8px;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
  }
  
  button[type="reset"] {
    background-color: #444;
    color: white;
  }
  
  button[type="submit"] {
    background-color: #4CAF50; /* Green background */
    color: white;             /* White text */
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  @media screen and (min-width: 981px) and (max-width: 1400px) {
    #colorbox {
        background-color: yellow;
    }
}

@media screen and (min-width: 601px) and (max-width: 980px) {
    #colorbox {
        background-color: orange;
    }
}


@media screen and (min-width: 370px) and (max-width: 600px) {
    #colorbox {
        background-color: red;
    }
}