<nav>
    <a href = "https://github.com/sheltonlatham">GitHub</a> |
    <a href = "https://sheltonlatham.github.io/">GitHub Pages</a> |
    <a href = "https://webpages.charlotte.edu/slatham7/itis3135/">GitHub Course Page</a> |
    <a href = "https://www.linkedin.com/in/shelton-latham/">LinkedIn</a> |
    <a href = "/itis3135/z_archives/index.html">Home Page</a>
</nav>
<p>Page Built by, <a href="https://www.freecodecamp.org/certification/Shelton_Latham/javascript-algorithms-and-data-structures-v8">Ceritifed in JS</a> <a href="../sheltonllc.co/index.html">Silly Lizard Enterprises</a> &copy; 2024</p>